#ActionButton {
  background: var(--button);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 6px 18px;
  transition: background-color 0.3s linear;
}

#ActionButton:hover {
  background-color: var(--button-hover);
}

.Disabled {
  background-color: var(--gray) !important;
  color: var(--bg-secondary) !important;
  cursor: no-drop !important;
}
