#PoolCard {
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    justify-items: center;

    #PoolMain {
        align-items: center;
        border: 1px solid transparent;
        display: flex;
        padding: 16px;
        transition: border 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--button);
        }
    }

    .CoinsLabel {
        justify-items: center;
        display: flex;
        flex-direction: column;
    }

    #PoolDetails {
        background-color: var(--button);
        height: 0;
        top: 100%;
        transition: height 0.2s ease-in-out;
        width: 100%;
    }

    .Show {
        height: 90px !important;
    }
}